@inject IDialogService DialogService

@if (Teachers.Count > 0)
{
    <MudTable Items="@Teachers" Hover="true" FixedHeader="true" Height="@(Teachers.Count > 0 ? "400px":"")">
        <HeaderContent>
            <MudTh>#</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="#">@context.Id</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Actions">
                <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Edit"  Size="Size.Small"
                    OnClick="@(()=>RedirectToUpdate(@context.Id.ToString()))"/>
                <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" 
                    OnClick="@(()=>DeleteDialog(@context.Id.ToString()))"/>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{50, 100}" />
        </PagerContent>
    </MudTable>
}

else
{
    <span>
        Loading exclass...
    </span>
}

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public IJSRuntime Js { get; set; }

    [Parameter]
    public List<TeacherDto> Teachers { get; set; }

    [Parameter]
    public EventCallback<string> OnDeleted { get; set; }


    private void RedirectToUpdate(string id)
    {
        var url = Path.Combine($"/teachers/updateteacher/{id}");
        NavigationManager.NavigateTo(url);
    }

    private async Task Delete(string id)
    {
        var teacher = Teachers.FirstOrDefault(p => p.Id.Equals(id));

        //var confirmed = await Js.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {grade.Name} grade?");
        //if (confirmed)
        //{
            await OnDeleted.InvokeAsync(id);
        //}
    }

       private async Task DeleteDialog(string id)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to delete these records? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);


        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<Dialog>("Delete", parameters, options);

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await Delete(id);
        }
    }

}
