@page "/teachers/createteacher"

<h2>Create Teacher Form</h2>

<EditForm Model="@_teacher" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>

                    <MudTextField Label="Name" HelperText="'Name' is required field"
                                  @bind-Value="_teacher.Name" For="@(() => _teacher.Name)" />

                    <MudTextField Label="Email" Class="mt-3"
                        @bind-Value="_teacher.Email" For="@(() => _teacher.Email)"/>

                    <MudTextField Label="Mobile #" Class="mt-3"
                        @bind-Value="_teacher.Mobile_Number" For="@(() => _teacher.Mobile_Number)"/>
                  
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Create</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="5">
            <MudPaper Class="pa-4 mud-height-full">
                <MudText Typo="Typo.subtitle2">Validation Summary</MudText>
                @if (success)
                {
                    <MudText Color="Color.Success">Success</MudText>
                }
                else
                {
                    <MudText Color="@Color.Error">
                        <ValidationSummary />
                    </MudText>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    [Inject]
    public IBaseService<TeacherDto> TeacherService { get; set; }
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    private TeacherDto _teacher = new TeacherDto();
    bool success;

    private async Task OnValidSubmit(EditContext context)
    {
        await TeacherService.CreateAsync(_teacher);
        success = true;
        StateHasChanged();
        NavigationManager.NavigateTo("/teachers");
    }

    //private async Task Create()
    //{
    //    await GradeService.CreateAsync(_grade);
    //    _notification.Show();
    //}
}
