<MudDrawer @bind-Open="SideBarOpen" Elevation="1">
    <MudDrawerHeader>
        <MudAvatar Color="Color.Transparent" Size="Size.Large" Image="assets/Logo-CodeMaze.png" />
        <MudText Typo="Typo.h5" Color="Color.Primary" Style="margin-top:10px; margin-left:15px;">Edu O</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.Home">Home</MudNavLink>
        <MudNavLink Href="/counter" Icon="@Icons.Filled.Storage">Counter</MudNavLink>
        <MudNavLink Href="/grades" Icon="@Icons.Filled.Storage">Grades</MudNavLink>
        <MudNavLink Href="/fetchdata" Icon="@Icons.Filled.Storage">FetchData</MudNavLink>
        <MudNavGroup Title="Expanding" Icon="@Icons.Filled.DashboardCustomize" Expanded="true">
            <MudNavLink Href="#" Icon="@Icons.Filled.Camera">Photos</MudNavLink>
            <MudNavLink Href="#" Icon="@Icons.Filled.Celebration">Party</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
</MudDrawer>



       @* <AuthorizeView>
            <NotAuthorized>
                  <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Sign in
                    </NavLink>
                </div>
                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Sign out
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>*@

@code {

    [Parameter]
    public bool SideBarOpen { get; set; }

    
}
